.home_header{
    position: relative;
    height: 100vh;
    background: linear-gradient(var(--color1),var(--color0));
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color3);
}

.description{
    text-align: center;
    line-height: 3.5em;
    padding: 0 1em;
}

.description h1{
    font-size: 2.3em;
}

.description h2{
    font-size: 1.3em;
}

.description i{
    font-size: 5em;
    position: relative;
    top: 0.3em;
}

.verHome_Title{
    color: var(--color1);
    font-size: 1.3em;
}


.mainHome{
    background-color: rgb(247, 244, 244);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.versHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30em;
    height: 80%;
}

@media screen and (max-width: 800px) {

    .description h1{
        font-size: 1.9em;
    }

    .description h2{
        font-size: 1.2em;
    }

    .description p{
        font-size: 1em;
    }

    .verHome_Text{
        font-size: 1.1em;
        padding: 0 1em;
    }

    .mainHome p{
        font-size: 0.9em;
    }


}

