.section_books{
position: relative;
}

.chaptesnumber{
  width: 100%;
  margin: auto;
 z-index: 3;
}

.bookNumber{
  position: relative;
  background-color: var(--color0);
}

.btnexpadin{
  background-color: var(--color1);
  width: 10em;
  border-radius: 0 0 20em 0em;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  color: var(--color3);
  font-weight:500;
  letter-spacing: .2em;
  cursor: pointer;
}

.btnexpadin input{
  width: 100%;
  height: 100%;
  position: absolute;
  opacity:0;
  cursor: pointer;
}

.controls{
  display: flex;
  justify-content: space-around;
  font-size: 2em;
  color: var(--color4);
  user-select: none;
}

.controls div i{
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.controls div i:hover{
  color:  var(--color1);
}

.showchapter{
  display: flex;
  align-items: center;
  justify-content: center;
}

.showchapter div{
  display: flex;
  gap: .5em;
  align-items: center;
  justify-content: center;
  padding: .2em 2em;
  background-color:  var(--color0);
  border: 2px solid var(--color1);
  border-bottom: none;
  color: var(--color3);
  border-radius: .5em .5em 0 0;
  user-select: none;
  cursor: pointer;
}

@keyframes loading{
  0%{
    content: 'Caminho Digital da Bíblia';
    
  }
  20%{
    content: 'Caminho Digital da Bíblia.';
  }
  50%{
    content: 'Caminho Digital da Bíblia..';
  }
  100%{
    content: 'Caminho Digital da Bíblia...'; 
  }
}

@keyframes border{
  0%{
    width: 0;
    background-color: none;
  }
 
  50%{
    width: 50%;
  }
  100%{
    width: 0;
    background-color: white;
  }
}