
.controls{
    position: relative;
}

.controls i{
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
}

.option{
    font-weight: 500;
    color: var(--color4);
    box-shadow: 0px 0px 2px black;
    user-select: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -2.5em;
    animation: cubic-bezier(0.175, 0.885, 0.32, 1.275) appear both 1s;
}

.option div{
    display: flex;  display: flex;
    align-items: center;
    justify-content: space-around;
    width: 6em;
    height: 2em;
    animation: cubic-bezier(0.175, 0.885, 0.32, 1.275) appear both 1s;
}

.option i {
    font-size: 1em;
    color: var(--color1);
    animation: cubic-bezier(0.175, 0.885, 0.32, 1.275) appear 0.1s ;
}

@keyframes appear {
        0%{
            opacity: 0;
            height: 0;
            top: 0;
        }

        100%{
            opacity: 1;
            
        }

}