.dic{
    display: flex;
    justify-content: center;
}

.dicionario{
    z-index: 2;
    position: fixed;
    bottom: 0;
    width: 60%;
    height: 30%;
    background-color: var(--color4);
    color: var(--color3);
    overflow: auto;
    text-align: center;
    padding: .5em;
    border-radius: .2em;
    border-top: 2px solid var(--color3);
   
}

.dicionario h2{
    color: var(--color1);
}

.text form {
    font-weight: bold;
}

.text form::before{
    content: 'palavra: ';
    color: var(--color1);
}
.text entry {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.text sense {
    color: var(--color1);
    padding: 0 .4em;
}

.text def {
    color: var(--color3);
}



@media screen and (max-width:800px){

    .dicionario{
        width: 100%;
    }

}