.post_container{
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.288);
}

.post{
display: flex;
flex-direction: column;
gap: 1em;
padding: 0.2em 0.5em;
justify-content: center;
height: 8em;
}

.profile{
display: flex;
justify-content: space-between;
}

.name{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.post_text{
    padding-left: 5em;
}

.profile span{
    font-size: 0.7em;
    width: 7em;
    text-align: center;
    color: var(--color1);
    font-weight: bold;
    position: block;
    float: right;
}

.interact ul{
    border-top: 2px solid rgba(201, 195, 195, 0.288);;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.interact li{
display: flex;
align-items: center;
justify-content: center;
padding: .2em;
gap: 1em;
color: var(--color4);
font-weight: 600;
}


.interact li:hover{
    filter: brightness(120%);
    cursor: pointer;
}

.interact svg{
width: 1em;
height: 1em;
}

.interact{
    margin-bottom: 5em;
}

.comment{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8em;
    padding: 1em 0;
    gap: 1em;
}

.comment input{
   border: 1px solid rgba(134, 134, 134, 0.288);
   background-color: rgba(12, 12, 12, 0.014);
   border-radius: .5em;
    padding: 0.2em;
    width: 80%;
    height: 1.5em;
}

.form{
    display: flex;
    width: 100%;

}

.form input[type="submit"]{
    cursor: pointer;
    width: 3em;
    height: 2.1em;
    background-color: var(--color3);
    color: var(--color4);
    font-weight: bold;
    position: relative;
    right: 1em;
    border-radius: 0 2em 2em 0;
}

.comments{
    display: flex;
    margin-bottom: 0.5em;
    padding: 1em 0.8em;
    gap: 1em;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.226);
    background-color: rgba(221, 221, 221, 0.13);
}

.text_comment{

    padding: 0.2em 0.5em;
    border-radius: .3em;
}

.comment_aside{
    width: 100%;
}

.comment_aside p{
    font-size: 0.8em;
}

.controls{
    position: relative;
}

.controls i{
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
}

.option{
    font-weight: 500;
    color: var(--color4);
    box-shadow: 0px 0px 2px black;
    user-select: none;
    cursor: pointer;
    position: absolute;
    top: -3.6em;
    left: -1em;
}

.option div{
    display: flex;  display: flex;
    align-items: center;
    justify-content: space-around;
    width: 6em;
    height: 2em;
}

.option i {
    font-size: 1em;
    color: var(--color1);
}
