.active{
    border-bottom: 3px solid  #F43F51;
 }


 .about_main{
    color: var(--color4);
    line-height: 1.6em;
    padding: 1em 0;
 }


.about_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
     
}

.title_about{
    font-size: 1.2em;
    position: relative;
    display: flex;
    align-items: center;
}

.firstline,
.lastline{
position: relative;
width: 18em;
right: 2em;
height: .3em;
background-color: var(--color1);
}

.lastline{
left: 2em;
}



.description_about{
    width: 60%;
}

.about_submit{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font);
}

.about_submit textarea,
.about_submit input[type="email"]{
resize: none;
width: 40vw;
height: 30vh;
font-family: var(--font);
letter-spacing: .11em;
padding: .1em;
background-color: var(--color4);
color: var(--color3);
border-radius: .4em;
}

.about_submit input[type="email"]{
    border: none;
    height: 1.3em;
    border-radius: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: .2em;
  
}

.about_main textarea:focus,
.about_submit input[type="email"]{
    border-color: var(--color1);
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.about_submit input[type="submit"]{
    border: none;
    font-family: var(--font);
    background: var(--color4);
    color: var(--color3);
    padding: .5em 2em;
    border-radius: .2em;
    cursor: pointer;
}

.about_main label{
    display: flex;
    flex-direction: column;
    padding: 1em 0;
}

.about_main label div{
font-weight: 500;
}

.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--color1);
    user-select: none;
    transition: 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19)
}

.register h1{
    color: var(--color3);
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color3);
    width: 30em;
    height: 60vh;
    padding: 2em 2em;
    border-radius: .8em 0 0 .8em;
}

.register_main{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
}

.form label{
    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form label:last-child{
  padding: 1em 0;
}

.form label span{
    font-weight: bold;
    color: var(--color4);
}

.form input{
    padding:.2em .2em;
   background-color: #E8F0FE;
   border-radius: .3em;
}

.form input[type="submit"]{
    padding: .5em 3em;
    font-weight: bold;
    background-color: var(--color1);
    color: var(--color3);
    cursor: pointer;
    letter-spacing: .3em;
}

.showcase{
    border-radius: 0 .8em .8em 0;
    background: url('/sky-clouds-cinematic-clouds-wallpaper-5.jpg'), linear-gradient(to top,rgba(66, 65, 65, 0.253),transparent 10%);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.showcase::after{
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
    border-bottom-right-radius: .8em;
    border-top: 2px solid var(--color3);
}

.showcase::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    filter: blur(2em);
    border-bottom-right-radius: .8em;
}

.showcase h1{
    font-size: 2.8em;
    color: var(--color1);
    text-align: center;
    filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, 0.542))
}

.showcase p {
    z-index: 1;
    color: var(--color3);
}

.showcase_text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 2em;
}

.texts_form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
}

.login {
justify-content: space-evenly;

}

.visible{
    position: absolute;
    right: .5em;
    top: 1.6em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2em;
    color: var(--color0);
    cursor: pointer;
}

.closeMenu{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 0;
    position: fixed;
}

@media screen and (max-width: 800px) {
    
    .firstline,
    .lastline{
        width: 1em;
    }

    .title_about{
        font-size: 1.1em;
    }

    .description_about{
        font-size: 0.9em;
        width: 80%;
        text-align: center;
    }

    .about_submit textarea,
    .about_submit input[type="email"]{
        width: 90vw;
    }

    .about_submit input[type="submit"]{
        font-size: .9em;
       width: 8em;
    }

    .register{
        padding-top: 10em;
    }

    .register_main{
        width: 100%;
    }

    .showcase{
        padding-top: 5em;
        width: 100vw;
        border-radius: 0;
    }

    .form {
        width: 100%;
        border-radius: 0;
    }

}

@media screen and (min-width:800px) and (max-width:1200px) {
    .form{
      width: 40vw;
    }
}